/arduino uno.jpg
/arduino uno_1.jpg
/breadboard.jpg
/jumper wire.jpg
/photoresistor.jpg
/photoresistor_1.jpg
/photoresistor_final.jpg
/potentiometer.jpg
/resistor.jpg
/servo motor.jpg
/servo motor_1.jpg
/solar tracker.mp4